celery==5.0.5
channels-redis==3.2.0
channels==3.0.3
daphne==3.0.1
dj-database-url==0.5.0
django-redis==4.12.1
Django==3.1.6
psycopg2-binary==2.8.6
redis==3.5.3
requests==2.25.1
whitenoise==5.2.0
flower==0.9.7